body{
    background-image: url(param.jpg);
    
}
h1{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}


#camera
{
    width: 420px;
    height: 350px;
    border:1px solid rgb(87, 2, 2);
}

img
{
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}


img:hover{
    border-radius: 140px;
}
.copy_right_footer {
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 99%;
    background-color: #f5f5f5;
    line-height: 2;
    text-align: center;
 }